body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Open Sans', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Bebas Neue', cursive;
  font-family: 'Oswald', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #fff0f3;
  color: #17252a
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
